*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(17, 213, 219);
}
.section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(95, 122, 145);
    color: white;
    padding: 20px 0;
}
.section-1 form input{
   border: none;
   padding: 10px;
   margin-top: 20px;
   border-radius: 5px;
   outline: none;
    font-size: 18px;
}
.section-1 form button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(40, 40, 219);
    color: white;
    font-size: 18px;
}
.section-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.recipe-card{
    background-color: aqua;
    box-shadow: 1px 2px 1px 3px rgba(0,0,0,0.5);
    padding: 20px;
    text-align: center;
}
.recipe-list{
    background-color: azure;
    box-shadow: 1px 2px 1px 3px rgba(0,0,0,0.5);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.view-recipe{
    text-decoration: none;
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
}
.recipe-page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
   margin-top: 30px;
}
.recipe-page .ingredients{
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    height: 380px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.recipe-page .ingredients h2{
    margin-bottom: 10px;
}
.recipe-page .ingredients ol li{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 700;
}
.recipe-page .instructions{
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    height: 380px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.recipe-page .instructions h2{
    margin-bottom: 10px;
}
.recipe-page .instructions ol li{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 700;
}
.title-div{
    background-color: aquamarine;
    padding: 50px;
}
.title-div h2{
    margin-bottom: 20px;
}
.back-home{
    text-decoration: none;
    margin-top: 30px;
}

.footer{
    background-color: antiquewhite;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
}
.footer h1{
    margin-bottom: 20px;
    color: red;
}
.footer p{
    margin: 18px 0;
    font-size: 20px;
}
.footer-social{
    display: flex;
     align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 500px){

    .section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(95, 122, 145);
    color: white;
    padding: 20px 0;
}
.section-1 form input{
   border: none;
   padding: 10px;
   margin-top: 20px;
   border-radius: 5px;
   outline: none;
    font-size: 18px;
}
.section-1 form button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(40, 40, 219);
    color: white;
    font-size: 18px;
}
.section-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.recipe-card{
    background-color: aqua;
    box-shadow: 1px 2px 1px 3px rgba(0,0,0,0.5);
    padding: 20px;
    text-align: center;
}
.recipe-list{
    background-color: azure;
    box-shadow: 1px 2px 1px 3px rgba(0,0,0,0.5);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.view-recipe{
    text-decoration: none;
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
}
.recipe-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
   margin-top: 30px;
}
.recipe-page .ingredients{
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    height: 380px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.recipe-page .ingredients h2{
    margin-bottom: 10px;
}
.recipe-page .ingredients ol li{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 700;
}
.recipe-page .instructions{
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    height: 380px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.recipe-page .instructions h2{
    margin-bottom: 10px;
}
.recipe-page .instructions ol li{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 700;
}
.title-div{
    background-color: aquamarine;
    padding: 50px;
}
.title-div h2{
    margin-bottom: 20px;
}
.back-home{
    text-decoration: none;
    margin-top: 30px;
}
}
